.c-footer {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: $color-primary;
  border-radius: 1rem 1rem 0 0;
  max-width: $max-screen-width;

  p {
    color: white;
  }

  a {
    margin-right: 0.7rem;
    color: white;
  }

  padding: 1rem $gutter 0.8rem;

  @include media(xsmall) {
    padding: 1rem $gutter-xsmall 0.8rem;
  }
  
  @include media(small) {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.4rem $gutter-small 1.2rem;
  }

  @include media(medium) {
    padding: 1.4rem $gutter-medium 1.2rem;
  }

  @include media(large) {
    padding: 1.4rem $gutter-large 1.2rem;
  }
}