.o-btn {
  display: block;
  color: $color-primary;
  background-color: $color-accent;
  text-transform: uppercase;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
  font-weight: $font-regular;
  transition: all 0.3s ease;
  line-height: 1;

  &:hover {
    background-color: transparentize($color: $color-accent, $amount: 0.2);
  }

  &:before {
    content: none;
  }

  &--alternative {
    @extend .o-btn;
    background-color: $color-primary;
    color: $color-primary-compliment;

    &:hover {
      background-color: transparentize($color: $color-primary, $amount: 0.2);
    }
  }
}