$color-primary: #343A40;
$color-primary-hover : #343A40;
$color-primary-compliment: #FAFAFA;
$color-primary-compliment-hover: #FAFAFA;

$color-background: white;
$color-background-secondary: #64FFDA;

$color-accent: #64FFDA;

$color-selection: lightgray;

$color-backdrop: transparentize($color-primary, 0.5);

$color-success: $color-primary;
$color-error: #E73C7E;