$color-default: #343A40;
$color-default-subdued: lightgray;

$color-background: white;

$color-primary: #343A40;
$color-primary-hover : #343A40;

$color-secondary: #FAFAFA;
$color-secondary-hover: #FAFAFA;

$color-accent: #E73C7E;

$color-selection: lightgray;

$color-backdrop: transparentize($color-default, 0.5);

$color-info: #EE7752;
$color-success: #23DBAB;
$color-warning: #E73C7E;
$color-error: #E73C7E;