.o-spacer {
  height: 3rem;
  width: 100%;

  @include media(small) {
    height: 4rem;
  }

  @include media(medium) {
    height: 5rem;
  }

  @include media(large) {
    height: 8rem;
  }
}

.o-divider {
  height: 0.0625rem;
  width: 100%;
  background-color: $color-primary;
}